*{
    margin: 0;
    padding: 0;
}
/* nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #FFFFFF;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 35px;
}
nav ul a{
    text-decoration: none;
    color: #575757;
}
nav button{
    padding: 14px 28px;
    border: none;
    background-color: #1D4ED8;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    
}
.hero{
    background-image: url(./assets/banner.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
}
.mid-data{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}
.mid-data h1{
    font-size: 70px;
    margin-bottom: 20px;
}
.mid-data p{
    width: 700px;
    line-height: 22px;
    margin-bottom: 250px;
}
.mid-data button{
     padding: 18px 45px;
    border: none;
    background-color: #1D4ED8;
    font-size: 20px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 0;
}
/* speakers */
.speakers-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.speakers h2{
    text-align: center;
    margin-bottom: 40px;
     margin-top: 50px;
    font-size: 48px;
}
.men img{
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.content span{
    color: #2563EB;
    font-size: 10px;
}
.speakers{
   
    width: 80%;
    margin: auto;
}

/* Secure Your Spot */

.pricing{
    width: 1100px;
    margin: 80px auto;

}
.heading{
    text-align: center;
    margin-bottom: 60px;
}
.heading h1{
    font-size: 48px;
    margin-bottom: 15px;
}
.heading p{
    color: #575757;
}
.price{
    font-size: 52px;
    font-weight: 700;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 60px;
    gap: 24px;
}
.standard{
    width: 300px;
    padding: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    background-color: #FFFFFF;
    

}
.pro{
   
    width: 300px;
    padding: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    background-color: #0D1B2A;
    color: white;
}

.team{
    width: 300px;
    padding: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    background-color: #FFFFFF;
}
.get{
  width: 100%;
  padding: 12px;
  margin-top: 25px;
  border: 1px solid #2563EB;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  color: #2563EB;
}
.pro .get{
    background-color: #2563EB;
    color: white;
    border: none;
}
.cards ul{
    margin-top: 20px;
    margin-bottom: 20px;
}
.standard li{
    margin-bottom: 12px;
    
}
.pro li{
     margin-bottom: 13px;
}
.team li{
     margin-bottom: 12px;
    
}
.standard .pro .team{
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}
.deg{
    color: #93C5FD;
}
.clr{
    color: #888888;
}
.txt{
    color: #888888;
}
ul li::marker{
    color: #2563EB;
}

/* footer */
footer{
    background:#0D1B2A;
    padding:25px 60px;
}

.footer-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.social{
    display:flex;
    gap:20px;
}

.social a{
    color:#888888;
    font-size:20px;
    transition:.3s;
}

.social a:hover{
    color:#3B82F6;
}

footer hr{
    border:none;
    border-top:1px solid #374151;
    margin:25px 0;
}

.footer-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.all-right{
    color:#888888;
}

.privacy{
    display:flex;
    gap:20px;
}

.privacy a{
    text-decoration:none;
    color:#888888;
    transition:.3s;
}

.privacy a:hover{
    color:#3B82F6;
}


